* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
:root {
  --color-primario: white;
  --color-secundario: black;
  --color-terciario: rgb(186, 94, 94);
  --color-gris: rgb(23, 20, 20);
}
body {
  background-color: var(--color-gris);
}
/* Main pagina */
main {
  width: 1000px;
  margin: 0 auto;
}
.text-center {
  display: flex;
  justify-content: center;
  align-self: center;
}
.my {
  margin: 20px 0px;
}
.mx {
  margin: 0px 20px;
}
.margin {
  margin: 20px 20px;
}
section {
  margin: 30px 0;
}
article {
  width: 100%;
  margin-left: 40px;
}
img {
  width: 200px;
  object-fit: contain;
}
.imagen {
  display: flex;
}
a {
  text-decoration: none;
  color: var(--color-terciario);
}
/* nav */
nav {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: var(--color-secundario);
  padding: 8px 10px;
  display: flex;
  justify-content: space-between;
}
nav img {
  width: 40px;
  object-fit: contain;
}
nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: end;
  align-items: center;
}
nav a {
  color: var(--color-primario);
  text-decoration: none;
  margin: 10px 10px;
}
nav a:hover {
  color: var(--color-terciario);
  text-decoration: none;
  margin: 10px 10px;
}
.img-nav {
  filter: invert(1);
  display: none;
}
/* home */
.parent {
  display: flex;
  align-self: center;
  justify-content: center;
  margin-top: 70px;
}
.text-blanco {
  color: var(--color-primario);
}
.contenedor {
  width: 400px; /* Ancho específico */
  margin: auto auto; /* Centrado horizontal */
}
.titulo {
  border: solid 2px black;
  border-radius: 10px;
  width: 200px;
  margin: 10px;
  padding: 10px 0;
  color: var(--color-primario);
  background-color: var(--color-terciario);
  text-align: center;
}
/* Tabla */
table {
  padding: 20px;
  margin-top: 14px;
}
.align {
  align-items: center;
}
thead th {
  padding: 10px 50px;
  border: 2px solid var(--color-terciario);
  margin: 0 20px;
}
tbody td {
  padding: 10px 50px;
  border: 2px solid var(--color-terciario);
  margin: 0 20px;
}
/* register */
fieldset {
  padding: 20px 20px;
  border: 2px solid var(--color-terciario);
}
.d-flex {
  display: flex;
}
.margin-input {
  margin-right: 40px;
}
.mx-2 {
  margin-right: 10px;
}
.enviar {
  padding: 10px;
  border-radius: 5px;
  background-color: var(--color-terciario);
  color: var(--color-primario);
  transition: 0.1s;
}
.enviar:hover {
  border-radius: 10px;
  background-color: var(--color-secundario);
}
/* location */
.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}
.location {
  border: 1px solid var(--color-terciario);
  border-radius: 20px;
}
iframe {
  padding: 10px;
  border-radius: 20px;
}
/* footer */
footer {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: var(--color-secundario);
  padding: 20px 0;
  color: var(--color-terciario);
}
@media screen and (max-width: 1000px) {
  main {
    padding: 0 20px;
    max-width: 100%;
    justify-content: center;
  }
  .imagen {
    display: none;
  }
  .tabla {
    display: none;
  }
  .nav-letras {
    display: none;
  }
  .img-nav {
    display: flex;
  }
  .titulo {
    width: 100%; /* Ancho específico */
    margin: auto auto; /* Centrado horizontal */
  }
}
